<h1>form</h1>

<form action="/form" method="post">
<label for="Password">Password</label>
<input type="password" name="password" id="Password">

<label for="confirmPassword">Confirm Password</label>
<input type="password" name="confirmPassword" id="confirmPassword">
<button type="submit">submit</button>
</form>